<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smarthome">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="智能家居"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"/>

        <activity android:name=".Ui.Activity.Aty_Main"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Ui.Activity.Aty_Setting">

        </activity>
        <activity android:name=".Ui.Activity.Aty_ShowTemData"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Ui.Activity.Aty_ShowSmogData"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity android:name=".Ui.Activity.Aty_ShowWetData"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
    </application>

</manifest>